*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial;
  border: border-box; 
}

.navbar {
  height: 70px;
  background-color:#e2e4d9;
  color: #111112;
  display: flex;
}

.nav-logo {
    padding: 0.8rem;
    margin-inline: 4rem;
    height: 70%;
}

.logo{
  height: 100%;
}